
body{
    background: rgb(255, 223, 223);
    position: relative;
}
nav{
    display: flex;
    position: fixed;
    justify-content: end;
}
.btn{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 20px 40px;
    height: 64px;
    border-radius: 5px;
    background: #FD6E0A;

}
nav ul h2{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
    position: absolute;
    width: 525px;
    height: 228px;
    left: 845px;
    top: 216px;
}
nav ul p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    position: absolute;
    width: 494px;
    height: 78px;
    left: 876px;
    top: 480px;
}
nav ul li{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: right;
    position: absolute;
    width: 109px;
    height: 23px;
    left: 1236px;
    top: 599px;

}

.banner{
    display: flex;
    position: fixed;

width: 569px;
height: 723.3px;
left: 206px;
top: 939px;
    

}

div h2{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;

    position: absolute;
    width: 288px;
    height: 94px;
    left: 862px;
    top: 300px;
}
div p{
    display: flex;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    position: absolute;
    width: 416px;
    height: 104px;
    left: 862px;
    top: 450px;
}
div ul li{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    position: absolute;
    width: 315px;
    height: 26px;
    left: 896px;
    top: 600px ;
}
div ul li{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    position: absolute;
    width: 315px;
    height: 26px;
    left: 896px;
    top: 1450px ;
}
div li{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    position: absolute;
    width: 315px;
    height: 26px;
    left: 896px;
    top: 1484px;
}

/*#about */

.about{
    position: fixed
    display: flex;
    width: 1140px;
    height: 300px;
    left: 230px;
    top: 2222.26px;

}
.title{
    text-align: center;
    margin: 30px;

}
.discription{
    color: #FD6E0A;
    font-size: 30px;

}

.about-info-cont{
    display: flex;
    position: absolute;
width: 485px;
height: 317px;
left: 230px;
top: 2782.26px;
}

/*#My Plan */






